<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/public/stylesheet.css">
        <title>Intro</title>
        {{> header}}
    </header>
    <body id="hello">
        <div class="video-background">
            <div class="video-foreground">
                <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div id="vidtop-content">
            <div class="vid-info">
            	<h1>World Cities</h1>
                <p>Final Project by <i>Anne Lee Steele</i> for Spiced Academy.</p>
            </div>
        </div>
        <script type="text/javascript" src="/public/js/script.js"></script>
    </body>
    <br><br><br>
    <footer>
        {{> footer}}
    </footer>
</html>
