<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8>
	<!-- <link rel="stylesheet" href="/public/stylesheet.css"> -->
	<!-- <link rel="script" href="/public/three.js"> -->
	<title>Planet Earth</title>
	<link rel="stylesheet" href="/public/stylesheet.css">
	<style>
		body {
			margin: 0;
		}

		canvas {
			width: 100%;
			height: 100%
		}
	</style>
</head>

<body>
	<div id="container"></div>

	<div id="search">
		<input type="text" name="" value="What are you looking for?"></input><br>
		<button type="submit" class="submit">SEARCH FOR IT</button>
	</div>

	<div id="currentInfo">
	    <span id="year1990" class="year">1990</span>
	    <span id="year1995" class="year">1995</span>
	    <span id="year2000" class="year">2000</span>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.5/dat.gui.min.js"></script>
	<script type="text/javascript" src="/public/js/orbit-controls.js"></script>
	<script type="text/javascript" src="/public/js/globe.js"></script>
	<script type="text/javascript" src="/public/js/api.js"></script>
	<script type="text/javascript" src="/public/js/three.min.js"></script>
	<script type="text/javascript" src="/public/js/tween.js"></script>
	<script type="text/javascript" src="/public/js/detector.js"></script>

	<script type="text/javascript">
		if (!Detector.webgl) {
			Detector.addGetWebGLMessage();
		} else {

			var years = ['1990', '1995', '2000'];
			var container = document.getElementById('container');
			var globe = new DAT.Globe(container);

			console.log(globe);
			var i, tweens = [];

			var settime = function(globe, t) {
				return function() {
					new TWEEN.Tween(globe).to({
						time: t / years.length
					}, 500).easing(TWEEN.Easing.Cubic.EaseOut).start();
					var y = document.getElementById('year' + years[t]);
					if (y.getAttribute('class') === 'year active') {
						return;
					}
					var yy = document.getElementsByClassName('year');
					for (i = 0; i < yy.length; i++) {
						yy[i].setAttribute('class', 'year');
					}
					y.setAttribute('class', 'year active');
				};
			};

			for (var i = 0; i < years.length; i++) {
				var y = document.getElementById('year' + years[i]);
				y.addEventListener('mouseover', settime(globe, i), false);
			}

			var xhr;
			TWEEN.start();

			xhr = new XMLHttpRequest();
			xhr.open('GET', '/public/population909500.json', true);
			xhr.onreadystatechange = function(e) {
				if (xhr.readyState === 4) {
					if (xhr.status === 200) {
						var data = JSON.parse(xhr.responseText);
						window.data = data;
						for (i = 0; i < data.length; i++) {
							globe.addData(data[i][1], {
								format: 'magnitude',
								name: data[i][0],
								animated: true
							});
						}
						globe.createPoints();
						settime(globe, 0)();
						globe.animate();
						document.body.style.backgroundImage = 'none'; // remove loading
					}
				}
			};
			xhr.send(null);
		}
	</script>

</body>

</html>
