<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/public/stylesheet.css">
        <link rel="script" href="/public/script.js">
        <title>Main</title>
        {{> header}}
    </header>
    <body id="hello">
        <div id="vidtop-content">
            <div class="vid-info">
            	<h1>Thank yous</h1>
                <p>Original timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Raw photos courtesy of http://eol.jsc.nasa.gov/
            </div>
        </div>

    </body>
    <br><br><br>
    <footer>
        {{> footer}}
    </footer>
</html>
