* {
    margin: 0px;
    align-items: center;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #000000;
}


/*
SEARCH STYLING
*/

#options {
    z-index: 99;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    background: transparent
}

input[type="text"] {
    width: 100%;
    height: 140px;
    background: transparent;
    font-size: 100px;
    overflow: auto;
    padding: 5px;
    color: #FFFFFF;
    border: 0px;
    display: inline-block;
    text-transform: uppercase;
}

::-webkit-input-placeholder { color: white; }
::-moz-placeholder {color: white; }
:-ms-input-placeholder { color: white; }
:-o-input-placeholder { color: white; }

#error {
    width: 100%;
    position: absolute;
    background: transparent;
    color: #FFFFFF;
    z-index: 9999;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#description {
    /* text-align: left; */
    background: transparent;
    position: absolute;
    font-size: 10px;
    left: 10px;
    top: 0;
    z-index: 99999;
}

/*
HAMBURGER MENU
*/
#modal {
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 250px;
    height: 170px;
    text-align: center;
    z-index: 9999999;
    padding: 10px;
    border: 1px black solid;
    border-radius: 20px;
    overflow: scroll;
    visibility: visible;
}

#modal {


/*
WEATHER STUFF
*/

#weather {
    position: absolute;
    background: transparent;
    top: 200px;
    left: 20px;
    /* width: 100%;
    height: 100%; */
    z-index: 99;
    text-transform: uppercase;
}

.sunrise {
    /* color: #ddbc82; */
    background: transparent;
    font-size: 30px;
}

.sunset {
    /* color: #ff4800; */
    background: transparent;
    font-size: 30px;
}

.moonrise {
    /* color: #81b2e2; */
    background: transparent;
    font-size: 30px;
}

.moonset {
    /* color: #944fdd; */
    background: transparent;
    font-size: 30px;
}

.sunrise:hover {
    /* color: #b79150; */
    color: #ddbc82;
    background: transparent;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background: transparent;
}

.sunset:hover {
    /* color: #d13a04; */
    color: #ff4800;
    background: transparent;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background: transparent;
}

.moonrise:hover {
    /* color: #598bba; */
    color: #81b2e2;
    background: transparent;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background: transparent;
}

.moonset:hover {
    /* color: #7637ba; */
    color: #944fdd;
    background: transparent;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background: transparent;
}

#mood {
    width: 5000px;
    height: 5000px;
    top: 0px;
    left: 0px;
    z-index: 10000;
    background: transparent;
}

.population {
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 10px;
    font-size: 90px;
    z-index: 99;
    /* margin: 10px; */
    text-align;
    left;
    background: transparent;
}

.population:hover {
    color: #87c183;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    background: transparent;
}

.temperature {
    right: 0px;
    top: 400px;
    background: transparent;
}

.news {
    background: transparent;
    max-width: 400px;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    font-size: 20px;
    right: 20px;
    top: 10px;
    z-index: 99;
    max-height:
}

p, i, h2, h1 {
    background: transparent;
}

p:hover, i:hover {
    background: transparent;
    color: #ede889;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/*
EVERYTHING ELSE
*/

main, body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%
}

h1 {
    font-size: 100px;
}
